@import "tailwindcss";

@theme {
  --color-michelin-red: #CC0000;
  --color-michelin-dark: #0a0a0a;
  --color-michelin-card: #111111;
  --color-michelin-border: #1a1a1a;
}

@layer base {
  body {
    @apply bg-michelin-dark text-white font-sans;
  }
}